@media (min-width: 992px) {
    .header .header-bottom {
        height: 54px;
    }
}

.header-menu .menu-nav .menu-link .menu-text {
    font-size: 1.2em !important;
}

.header-menu .menu-nav .menu-link .menu-text .icon-arrow {
    margin-left: 8px;
    rotate: 0deg;
    transition: all 0.4s ease-in-out;
}

.header-menu .menu-nav>.menu-item:hover:not(.menu-item-here):not(.menu-item-active)>.menu-link .menu-text .icon-arrow,
.header-menu .menu-nav>.menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active)>.menu-link .menu-text .icon-arrow {
    rotate: 90deg;
}

.image-slider {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: center;
}

.swal2-popup {
    aspect-ratio: 1 / 1;
    border-radius: 40px;
    padding-bottom: 5rem;
}